<section class="about-us">
    <div class="about-container">
        <div class="about-image-wrapper">
            <img class="about-image" src="../img/about-mob-1x.jpg"
                srcset="../img/about-mob-1x.jpg 1x, ../img/about-des-2x.jpg 2x" width="640" height="456"
                alt="Handmade jewelry crafting process" loading="lazy">
        </div>

        <div class="about-content">
            <h2 class="about-title">The Artistry Behind Handmade Jewelry</h2>
            <p class="about-text">Handmade Jewelry began as a passion project, inspired by the beauty of nature and
                the
                desire to create meaningful pieces. Each item is crafted with love, reflecting our commitment to
                sustainability and the unique story of its maker.</p>

            <ul class="about-list">
                <li class="about-list-item">
                    <svg class="about-icon" width="24" height="24" aria-hidden="true">
                        <use href="../img/symbol-defs.svg#icon-leaf"></use>
                    </svg>
                    Inspired by Nature
                </li>

                <li class="about-list-item">
                    <svg class="about-icon" width="24" height="24" aria-hidden="true">
                        <use href="../img/symbol-defs.svg#icon-donate-heart"></use>
                    </svg>
                    Handcrafted with Love
                </li>

                <li class="about-list-item">
                    <svg class="about-icon" width="24" height="24" aria-hidden="true">
                        <use href="../img/symbol-defs.svg#icon-book"></use>
                    </svg>
                    Every Piece Tells a Story
                </li>
            </ul>
        </div>
    </div>
</section>

 
