<section id="contacts" class="contacts">
  <div class="container">
    <div class="contacts-text">
      <p class="contacts-subtitle">Connect</p>
      <h2 class="contacts-title">Order your unique jewelry</h2>
      <p class="contacts-description">
        We'd love to hear more details from you!
      </p>
    </div>

    <div class="contacts-content">
      <ul class="contacts-list">
        <li class="contacts-item">
          <svg class="contacts-icon" width="32" height="32">
            <use href="/img/symbol-defs.svg#icon-mail"></use>
          </svg>

          <p class="text-icon">Email</p>

          <a class="contacts-link" href="mailto:info@handmadejewelry.com"
            >info@handmadejewelry.com</a
          >
        </li>
        <li class="contacts-item">
          <svg class="contacts-icon" width="32" height="32">
            <use href="/img/symbol-defs.svg#icon-phone"></use>
          </svg>

          <p class="text-icon">Phone</p>

          <a class="contacts-link" href="tel:+15550000000">+1 (555) 000-0000</a>
        </li>
        <li class="contacts-item">
          <svg class="contacts-icon" width="32" height="32">
            <use href="/img/symbol-defs.svg#icon-map"></use>
          </svg>

          <p class="text-icon">Office</p>

          <a
            class="contacts-link"
            href="https://www.google.com/maps/place/76+Oakington+Manor+Dr,+Wembley+HA9+6LZ,+%D0%92%D0%B5%D0%BB%D0%B8%D0%BA%D0%BE%D0%B1%D1%80%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D1%8F/@51.5528624,-0.2803899,17z/data=!3m1!4b1!4m6!3m5!1s0x4876118169c17941:0x65ed18c0288892df!8m2!3d51.5528624!4d-0.277815!16s%2Fg%2F11cpcv9b9_?entry=ttu&g_ep=EgoyMDI2MDQyOC4wIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer"
          >
            76-8 Oakington Manor Dr, London, UK
          </a>
        </li>
      </ul>

      <form class="contacts-form">
        <label for="contacts-name" class="contacts-lab">Name*</label>
        <input
          class="contacts-input"
          type="text"
          name="name"
          required
          pattern="^[a-zA-Z\s\.]{5,28}$"
          placeholder="Tony"
          id="contacts-name"
        />

        <label for="contacts-tel" class="contacts-lab">Phone*</label>
        <input
          class="contacts-input"
          type="tel"
          name="phone"
          required
          pattern="^\+[0-9\s]{14}$"
          placeholder="+1 234 123 23"
          id="contacts-tel"
        />

        <label for="textarea" class="contacts-lab">Describe what you want</label
        ><textarea
          class="contacts-textarea"
          name="message"
          id="textarea"
          placeholder="Type your message..."
          minlength="1"
          maxlength="500"
          required
        ></textarea>

        <button type="submit" class="contacts-button">Submit</button>
      </form>
    </div>
  </div>
</section>
