<div class="footer">
  <div class="contentik">
    <div class="footer-main-content">
      <a href="index.html" class="footer-logo" aria-label="Home">
        <svg width="217" height="93">
          <use href="./img/symbol-defs.svg#icon-Company-Logo"></use>
        </svg>
      </a>
      <ul class="footer-socials">
        <li class="footer-socials-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg width="32" height="32">
              <use href="./img/symbol-defs.svg#icon-Facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg width="32" height="32">
              <use href="./img/symbol-defs.svg#icon-Instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            href="https://x.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="X"
          >
            <svg width="32" height="32">
              <use href="./img/symbol-defs.svg#icon-X"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
          >
            <svg width="32" height="32">
              <use href="./img/symbol-defs.svg#icon-LinkedIn"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
          >
            <svg width="32" height="32">
              <use href="./img/symbol-defs.svg#icon-Youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <nav>
      <ul class="footer-nav-list">
        <li><a href="#about" class="footer-nav-link">About us</a></li>
        <li><a href="#benefits" class="footer-nav-link">Benefits</a></li>
        <li><a href="#gallery" class="footer-nav-link">Gallery</a></li>
        <li>
          <a href="#testimonials" class="footer-nav-link">Testimonials</a>
        </li>
        <li><a href="#contacts" class="footer-nav-link">Contacts</a></li>
      </ul>
    </nav>
  </div>

  <p class="footer-copy">&copy; 2025 Handmade Jewelry. All rights reserved.</p>
</div>
