<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Effective Solutions for Your Business">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
        integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/Gallery-JD.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 7</title>
</head>

<section>
    <div class="gallery container">
        <div class="gallery-description">
        <h2 class="gallery-title">Jewelry Showcase</h2>
        <p class="gallery-text"> Discover the beauty of our handcrafted jewelry in style.</p>
        </div>
        <ul class="gallery-items">
            <li class="gallery-link">
                <div class="gallery-img gallery-grid necklace">
                    <img src="../img/gallery/Necklace-1x.jpg"
                    srcset="../img/gallery/Necklace-1x.jpg 1x, ../img/gallery/Necklace-2x.jpg 2x" 
                    alt="Necklace" width="640" height="640">
                </div>
            </li>
            <li class="gallery-link">
                <div class="gallery-img gallery-grid pendant">
                    <img src="../img/gallery/Pendant-1x.jpg"
                    srcset="../img/gallery/Pendant-1x.jpg 1x, ../img/gallery/Pendant-2x.jpg 2x"
                    alt="Pendant" width="640" height="640">
                </div>
            </li>
            <li class="gallery-link">
                <div class="gallery-img gallery-grid bracelet">
                    <img src="../img/gallery/Bracelet-1x.jpg"
                    srcset="../img/gallery/Bracelet-1x.jpg 1x, ../img/gallery/Bracelet-2x.jpg 2x"
                    alt="Bracelet" width="640" height="640">
                </div>
            </li>
            <li class="gallery-link">
                <div class="gallery-img gallery-grid earrings">
                    <img src="../img/gallery/Earrings-1x.jpg"
                    srcset="../img/gallery/Earrings-1x.jpg 1x, ../img/gallery/Earrings-2x.jpg 2x"
                    alt="Earrings" width="640" height="640">
                </div>
            </li>
        </ul>
</div>
</section>