<section>
    <div class="gallery container">
        <div class="gallery-description">
        <h2 class="gallery-title">Jewelry Showcase</h2>
        <p class="gallery-text"> Discover the beauty of our handcrafted jewelry in style.</p>
        </div>
        <ul class="gallery-items">
            <div class="img-container-left">
            <li class="gallery-link necklace">
                    <img src="../img/gallery/Necklace-1x.jpg"
                    srcset="../img/gallery/Necklace-1x.jpg 1x, ../img/gallery/Necklace-2x.jpg 2x" 
                    alt="Necklace">
            </li>
            <li class="gallery-link pendant">
                    <img src="../img/gallery/Pendant-1x.jpg"
                    srcset="../img/gallery/Pendant-1x.jpg 1x, ../img/gallery/Pendant-2x.jpg 2x"
                    alt="Pendant">
            </li>
            </div>
            <div class="img-container-right">
            <li class="gallery-link bracelet">
                    <img src="../img/gallery/Bracelet-1x.jpg"
                    srcset="../img/gallery/Bracelet-1x.jpg 1x, ../img/gallery/Bracelet-2x.jpg 2x"
                    alt="Bracelet">
            </li>
            <li class="gallery-link earrings">
                    <img src="../img/gallery/Earrings-1x.jpg"
                    srcset="../img/gallery/Earrings-1x.jpg 1x, ../img/gallery/Earrings-2x.jpg 2x"
                    alt="Earrings">
            </li>
            </div>
        </ul>
</div>
</section>