<header class="header">
  <div class="container">
    <div class="heder-page">
      <nav class="header-nav">
        <a href="./index.html">
          <img
            class="header-logo"
            src="/img/logo-1x.jpg"
            alt="logo"
            width="160"
            height="68"
        /></a>
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a class="header-nav-link" href="#about">About us</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#benefits">Benefits</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#gallery">Gallery</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#testimonials">Testimonials</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <a class="header-link" href="#contacts">Order Now</a>
      <button class="mob-menu-open" type="button">
        <svg class="mob-menu-icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
