<div class="modal">

    <div class="nav-overlay" role="dialog"
    aria-modal="true" aria-label="Navigation menu">
        <div class="nav-modal">

            <div class="nav-m-header">
            <a href="index.html" class="nav-logo-btn">
                <svg width="149" height="47" aria-label="Company Name">
                    <use href="./img/symbol-defs.svg#icon-Company-Logo"></use>
                </svg>
            </a>

                <button type="button" class="nav-close-btn" aria-label="Close menu">
                    <svg width="12" height="12">
                        <use href="./img/symbol-defs.svg#icon-close"></use>
                    </svg>
                </button>
            </div>

            <div class="nav-content">
                <nav class="nav-links">
                    <a href="#about" class="nav-link-btn">About us</a>
                    <a href="#benefits" class="nav-link-btn">Benefits</a>
                    <a href="#gallery" class="nav-link-btn">Gallery</a>
                    <a href="#testimonials" class="nav-link-btn">Testimonials</a>
                    <a href="#contacts" class="nav-link-btn">Contacts</a>
                </nav>

                <div class="nav-order-wrap">
                    <a href="#contacts" class="nav-order-btn">Order Now</a>
                </div>

            </div>

        </div>
    </div>

</div>
