<section id="testimonials">
    <div class="container">
        <div class="testimonials-header">
            <h2 class="testimonials-title">Customer testimonials</h2>
            <p class="testimonials-subtitle">Absolutely love my new earrings! They are stunning.</p>
        </div>
        <div class="testimonials container">
            <ul class="testimonials-list">
                <!-- 1. Фото жінки -->
                <li class="item-img-1">
                    <picture>
                        <!-- Для мобільного (до 767px) -->
                        <source media="(max-width: 767px)"
                            srcset="/img/testimonials/testimonials1-mob-1x.jpg 1x, /img/testimonials/testimonials1-mob-2x.jpg 2x">
                        <!-- Для планшета (до 1439px) -->
                        <source media="(max-width: 1439px)"
                            srcset="/img/testimonials/testimonials1-tab-1x.jpg 1x, /img/testimonials/testimonials1-tab-2x.jpg 2x">
        
                        <!-- Для десктопа (від 1440px) -->
                        <img src="/img/testimonials/testimonials1-des-1x.jpg"
                            srcset="/img/testimonials/testimonials1-des-1x.jpg 1x, /img/testimonials/testimonials1-des-2x.jpg 2x"
                            alt="Woman smiling with new earrings" class="testimonials-image" />
                    </picture>
                </li>
        
                <!-- 2. Фото чоловіка -->
                <li class="item-img-2">
                    <picture>
                        <!-- Для мобільного (до 767px) -->
                        <source media="(max-width: 767px)"
                            srcset="/img/testimonials/testimonials2-mob-1x.jpg 1x, /img/testimonials/testimonials2-mob-2x.jpg 2x">
                        <!-- Для планшета (до 1439px) -->
                        <source media="(max-width: 1439px)"
                            srcset="/img/testimonials/testimonials2-tab-1x.jpg 1x, /img/testimonials/testimonials2-tab-2x.jpg 2x">
        
                        <!-- Для десктопа (від 1440px) -->
                        <img src="/img/testimonials/testimonials2-des-1x.jpg"
                            srcset="/img/testimonials/testimonials2-des-1x.jpg 1x, /img/testimonials/testimonials2-des-2x.jpg 2x"
                            alt="Man with new necklace" class="testimonials-image" />
                    </picture>
                </li>
        
                <!-- 3. Картка Томаса (Thomas Mans) -->
                <li class="item-card-thomas">
                    <ul class="stars-list">
                        <li><svg class="star-icon" width="24" height="24">
                                <use href="/img/symbol-defs.svg#icon-star-f"></use>
                            </svg></li>
                        <li><svg class="star-icon" width="24" height="24">
                                <use href="/img/symbol-defs.svg#icon-star-f"></use>
                            </svg></li>
                        <li><svg class="star-icon" width="24" height="24">
                                <use href="/img/symbol-defs.svg#icon-star-f"></use>
                            </svg></li>
                        <li><svg class="star-icon" width="24" height="24">
                                <use href="/img/symbol-defs.svg#icon-star-f"></use>
                            </svg></li>
                        <li><svg class="star-icon-o" width="24" height="24">
                                <use href="/img/symbol-defs.svg#icon-star-o"></use>
                            </svg></li>
                    </ul>
                    <p class="testimonial-quote">"Each piece tells a story, and I love mine!"</p>
                    <p class="testimonial-author">Thomas Mans</p>
                </li>
            </ul>
        
            <ul class="testimonials-list">
                <!-- 4. Картка Джейн (Jane Edison) -->
                <li class="item-card-jane">
                    <ul class="stars-list">
                        <li><svg class="star-icon" width="24" height="24">
                                <use href="/img/symbol-defs.svg#icon-star-f"></use>
                            </svg></li>
                        <li><svg class="star-icon" width="24" height="24">
                                <use href="/img/symbol-defs.svg#icon-star-f"></use>
                            </svg></li>
                        <li><svg class="star-icon" width="24" height="24">
                                <use href="/img/symbol-defs.svg#icon-star-f"></use>
                            </svg></li>
                        <li><svg class="star-icon" width="24" height="24">
                                <use href="/img/symbol-defs.svg#icon-star-f"></use>
                            </svg></li>
                        <li><svg class="star-icon" width="24" height="24">
                                <use href="/img/symbol-defs.svg#icon-star-f"></use>
                            </svg></li>
                    </ul>
                    <p class="testimonial-quote">"The craftsmanship is exquisite, and I feel unique wearing it."</p>
                    <p class="testimonial-author">Jane Edison</p>
                </li>
        
                <!-- 5. Фото кави/браслета -->
                <li class="item-img-3">
                    <picture>
                        <!-- Для мобільного (до 767px) -->
                        <source media="(max-width: 767px)"
                            srcset="/img/testimonials/testimonials3-mob-1x.jpg 1x, /img/testimonials/testimonials3-mob-2x.jpg 2x">
                        <!-- Для планшета (до 1439px) -->
                        <source media="(max-width: 1439px)"
                            srcset="/img/testimonials/testimonials3-tab-1x.jpg 1x, /img/testimonials/testimonials3-tab-2x.jpg 2x">
        
                        <!-- Для десктопа (від 1440px) -->
                        <img src="/img/testimonials/testimonials3-des-1x.jpg"
                            srcset="/img/testimonials/testimonials3-des-1x.jpg 1x, /img/testimonials/testimonials3-des-2x.jpg 2x"
                            alt="Braclet" class="testimonials-image" />
                    </picture>
                </li>
        
                <!-- 6. Фото обручки -->
                <li class="item-img-4">
                    <picture>
                        <!-- Для мобільного (до 767px) -->
                        <source media="(max-width: 767px)"
                            srcset="/img/testimonials/testimonials4-mob-1x.jpg 1x, /img/testimonials/testimonials4-mob-2x.jpg 2x">
                        <!-- Для планшета (до 1439px) -->
                        <source media="(max-width: 1439px)"
                            srcset="/img/testimonials/testimonials4-tab-1x.jpg 1x, /img/testimonials/testimonials4-tab-2x.jpg 2x">
        
                        <!-- Для десктопа (від 1440px) -->
                        <img src="/img/testimonials/testimonials4-des-1x.jpg"
                            srcset="/img/testimonials/testimonials4-des-1x.jpg 1x, /img/testimonials/testimonials4-des-2x.jpg 2x"
                            alt="Silver ring" class="testimonials-image" />
                    </picture>
                </li>
            </ul>
        </div>
    </div>
</section>