*,
*::before,
*::after {
  box-sizing: border-box;
}

.benefits {
  padding-top: 64px;
  padding-bottom: 64px;
}
.container {
}
.benefits-title {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;

  max-width: 335px;
  margin: 0 auto 32px;
}

.benefits-wrapper {
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.benefits-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 32px 12px;
  background-color: #f2f2f2;
}

.benefits-subtitle {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
}
.benefits-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

@media screen and (min-width: 768px) {
  .benefits-title {
    max-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits-title {
    max-width: 870px;
    font-size: 40px;
  }
  .benefits-list {
    flex-direction: row;
    gap: 32px;
  }

  .benefits-item {
    width: calc((100% - 64px) / 3);
  }
}
