

.header-nav-list {
    display: none;
}

.header-link {
    display: none;
}

.heder-page {
    display: flex;
    align-items: center;
}

.mob-menu-open {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    padding: 4px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mob-menu-icon {
    fill: #000;
}

.header-nav-link{
font-family: "Mulish",sans-serif;
}

.header-link{
    font-family: "Mulish", sans-serif;
}




@media screen and (min-width: 768px) {

    .header{
        padding-top: 18px;
        padding-bottom: 18px;
    }

   .mob-menu-open {
        display: none;
    }

    .heder-page{
        max-height: 36px;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .logo-icon {
        width: 84px;
        height: 36px;
    }

    .header-nav {
        display: flex;
        align-items: center;
        gap: 48px;
    }

    .header-nav-list {
        display: flex;
        gap: 16px;
    }

    .header-nav-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #000;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-left: auto;
        border: 1px solid #ccc16e;
        padding: 6px 12px;
        background-color: #ccc16e;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #000;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link:hover,
    .header-link:focus {
        background-color: transparent;
    }

    .header-link:active {
        box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
        background: #ccc16e;
    }

    .header-link:disabled,
    .header-link.inactive {
        opacity: 0.3;
        cursor: not-allowed;
        pointer-events: none;
    }

    .header-nav-link:hover,
    .header-nav-link:focus{
        font-weight: 500;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }

    .header-nav-link:active{
        color: #8668c7;
    }

    .header-nav-link:disabled,
    .header-nav-link.inactive{
        color: #000;
        opacity: 0.3;
    }
}


@media screen and (min-width: 1440px) {

    .header-nav {
        gap: 32px;
    }

    .header-nav-list {
        gap: 32px;
    }

    .header-link {
        padding: 6px 55px;
    }
}